{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Nos scénarios{% endblock %}

{% block body %}
    <section>
        <h1>Tous nos scénarios</h1>
    </section>
    {% if scenarios is empty %}
        <section>
            <p>Pas de scénarios sur le site en ce moment</p>
        </section>
    {% endif %}
    <section class="card-container">
                {% for scenario in scenarios %}
                    <article class="card">
                        <header>
                            <h3 class="card-title">{{ scenario.title }}</h3>
                        </header>
                        {% if scenario.imageName is empty %}
                            <img src="{{ asset('images/black-dragon_640.webp') }}" alt="dragon noir entouré de flammes"
                                 class="card-image">
                        {% else %}
                            <img src="{{ vich_uploader_asset(scenario, 'imageFile') }}" alt="{{ scenario.imageAlt }}" class="card-image">
                        {% endif %}
                        <section class="card-tags">
                            <ul>
                                {% for tag_item in scenario.tag %}
                                    <li class="generic-button">{{ tag_item }}</li>
                                {% endfor %}
                            </ul>
                        </section>
                        <footer>
                            <a href="{{ path('scenario_show', { 'id': scenario.id }) }}" class="success-button">Découvrir</a>
                        </footer>
                    </article>
                {% endfor %}
    </section>
{% endblock %}
