{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} - {{ scenario.title }}
{% endblock %}

{% block body %}
    <section>
        <h1>{{ scenario.title }}</h1>
    </section>
    <section class="picture-container">
        {% if scenario.imageFile is empty %}
            <img src="{{ asset('images/black-dragon_640.webp') }}" alt="dragon noir entouré de flammes"
                 class="card-image">
        {% else %}
            <img src="{{ scenario.imageFile }}" alt="{{ scenario.imageAlt }}" class="card-image">
        {% endif %}
    </section>
    <article class="scenario-resume">
        <p>{{ scenario.resume }}</p>
    </article>
    <section class="buttons-container">
        <a href="{{ path('scenario_index') }}" class="generic-button">Retour</a>
    </section>
{% endblock %}



