{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - accueil{% endblock %}

{% block body %}
    <section>
        <h1>ForgeQuest</h1>
        <article>
            {% if not app.user %}
                <p>
                    Créez et partagez vos scénarios de jeux de rôle, et explorez les nouveautés de notre communauté.
                </p>
            {% elseif app.user.pseudo %}
                <p>Bon retour parmi nous {{ app.user.pseudo }}</p>
            {% else %}
                <p>Bon retour parmi nous {{ app.user.email }}</p>
            {% endif %}
        </article>
    </section>
    {#    ajout de l'image #}
    <section class="picture-container">
        <img
                srcset="{{ asset('images/Home_page_640.webp') }} 640w,
                {{ asset('images/Home_page_1280.webp') }} 1280w"
                src="{{ asset('images/Home_page_640.webp') }}"
                alt="Vue depuis un tunnel d'un chateau flottant dans le ciel"
        />
    </section>
    {#    ajout des boutons explorer et Univers de jeu #}
    <section class="buttons-container">
        <a href="#" class="generic-button">Explorer nos scénarios</a>
        <a href="#" class="generic-button">Univers de jeu</a>
    </section>
    <h2>Nos derniers scénarios</h2>
    {#    section affichage des dernier scénarios #}
    <section class="scenarios-container">
        {% if last_scenarios is empty %}
            <p>Pas de scénarios sur le site en ce moment</p>
        {% else %}
            {% for scenario in last_scenarios %}
                <article class="card">
                    <header>
                        <h3 class="card-title">{{ scenario.title }}</h3>
                    </header>
                    {% if scenario.imageFile is not defined %}
                        <img src="{{ asset('images/black-dragon_640.webp') }}" alt="dragon noir entouré de flammes"
                             class="card-image">
                    {% else %}
                        <img src="{{ scenario.imageFile }}" alt="{{ scenario.imageAlt }}" class="card-image">
                    {% endif %}
                    <section class="card-tags">
                        <ul>
                            {% for tag_item in scenario.tag %}
                                <li class="generic-button">{{ tag_item }}</li>
                            {% endfor %}
                        </ul>
                    </section>
                    <footer>
                        <a href="#" class="success-button">Découvrir</a>
                    </footer>
                </article>
            {% endfor %}
        {% endif %}
    </section>

{% endblock %}
