{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - formulaire de connection{% endblock %}

{% block body %}
    <section>
        <h1>Se connecter</h1>
        {% if error %}
            <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}
        <form class="form-container" action="{{ path('app_login') }}" method="post">
            <div class="form-row">
                <label for="username" class="form-label">e-mail</label>
                <input class="form-widget-simple" type="text" id="username" name="_username"
                       value="{{ last_username }}" required>
            </div>
            <div class="toggle-button-container form-row">
                <label for="password" class="form-label">Mot de passe</label>
                <input
                        class="form-widget-simple"
                        type="password"
                        id="password"
                        name="_password"
                        {{ stimulus_controller('symfony/ux-toggle-password/toggle-password', {
                            visibleLabel: 'Afficher',
                            hiddenLabel: 'Cacher',
                            buttonClasses: ['toggle-button'],
                        }) }}
                        required>
            </div>

                {# If you want to control the URL the user is redirected to on success
        <input type="hidden" name="_target_path" value="/profile"> #}
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                <p>Pas encore de compte ? <a href="{{ path('app_register') }}">Créez en un ici</a></p>

                <button type="submit" class="success-button">Se connecter</button>
            </form>
    </section>
{% endblock %}
